// colors
$black: #000000;
$green-to-white: linear-gradient(to right top, #04aeaa, #64c1d4, #eba8ec94, #dce6f7, #ffffff12);
$white: #fff;
$white-blurred: #ffffff59;
$red: red;
$light-green: rgb(20, 236, 117);
$aqua: aqua;

// fonts

$check-font: 'Jura Medium', 'Arial', sans-serif;
$check-font2: 'Saira Custom', 'Arial', sans-serif;

// transition
$transition-300: 0.3s ease-in;

// font-sizes

$px-8: 0.5rem;
$px-12: 0.75rem;
$px-16: 1rem;
$px-20: 1.25rem;
$px-24: 1.5rem;
$px-23: 2rem;
$px-32: 2rem;

// viewport
