@font-face {
  font-family: 'Blogger Sans';
  src:
    url('./fonts/blogger-sans.woff2') format('woff2'),
    url('./fonts/blogger-sans.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
