@font-face {
  font-family: 'Blogger Sans';
  src:
    url('./assets/fonts/blogger-sans.woff2') format('woff2'),
    url('./assets/fonts/blogger-sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Blogger sans', 'Arial', sans-serif;
}

body {
  scroll-behavior: smooth;
  /* background-color: rgba(128, 128, 128, 0.32); */
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: unset;
}

a {
  text-decoration: unset;
  color: black;
}

button {
  cursor: pointer;
  background-color: unset;
  border: unset;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.btn {
  position: relative;
  background-color: transparent;
  border: unset;
  outline: 1px solid aqua;
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem 0.35rem 0.5rem;

  font-size: 1.1rem;
  line-height: 120%;

  transition: all 0.3s ease-in;
}

.btn:hover,
.btn:focus-visible,
.btn:active {
  box-shadow: 2px 2px 2px 0 black;
}

.btn::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgb(143, 235, 44) 0%,
    rgba(180, 209, 188, 1) 50%,
    rgb(23, 246, 213) 100%
  );
  z-index: -1;
  opacity: 0;
  transition:
    opacity 0.3s ease-in,
    background-color 0.3s ease-in;
}

.btn--notActive {
  pointer-events: none;
  filter: blur(5px);
}

.btn--active {
  pointer-events: all;
  filter: unset;
}

.btn--active::after {
  background: linear-gradient(
    90deg,
    rgb(143, 235, 44) 0%,
    rgba(180, 209, 188, 1) 50%,
    rgb(23, 246, 213) 100%
  );
}

.btn--small {
  font-size: 0.8rem;
  width: 100%;
}

.btn:hover::after,
.btn:focus-within::after,
.btn:active::after {
  opacity: 1;
}

/* стили vue для появления карточек */
.v-enter-active,
.v-leave-active {
  transition: all 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.v-leave-active {
  position: absolute;
}

/* стили vue для загрузки */
.loading-enter-active,
.loading-leave-active {
  transition: opacity 0.5s ease;
}

.loading-enter-from,
.loading-leave-to {
  opacity: 0;
}
