@font-face {
  font-family: 'Blogger Sans';
  src:
    url('./assets/fonts/blogger-sans.woff2') format('woff2'),
    url('./assets/fonts/blogger-sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Blogger sans', 'Arial', sans-serif;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: unset;
}

a {
  text-decoration: unset;
  color: black;
}

button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.btn {
  position: relative;
  background-color: transparent;
  border: unset;
  outline: 1px solid aqua;
  border-radius: 0.25rem;
  padding: 0.5rem 0.3rem 0.35rem 0.3rem;

  font-size: 1.5rem;
  line-height: 120%;

  transition: all 0.3s ease-in;
}

.btn::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgb(143, 235, 44) 0%,
    rgba(180, 209, 188, 1) 50%,
    rgb(23, 246, 213) 100%
  );
  z-index: -1;
  opacity: 0;
  transition:
    opacity 0.3s ease-in,
    background-color 0.3s ease-in;
}

.btn--notActive {
  pointer-events: none;
  filter: blur(5px);
}

.btn--active {
  pointer-events: all;
  filter: unset;
}

.btn--active::after {
  background: linear-gradient(
    90deg,
    rgb(143, 235, 44) 0%,
    rgba(180, 209, 188, 1) 50%,
    rgb(23, 246, 213) 100%
  );
}

.btn--small {
  font-size: 0.8rem;
  width: 100%;
}

.btn:hover::after,
.btn:focus-within::after,
.btn:active::after {
  opacity: 1;
}
